body {
  margin: 0;
  background: #7dc8e7;
}

h2 {
  margin: 0;
}

html {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Orbitron', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

main {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
}