body {
  margin: 0;
  background: white;
}

html {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body,
html {
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

a {
  color: white;
}
