@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  background: #7dc8e7;
}

html {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Orbitron', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

a {
  color: white;
}
